nav {
  background-color: transparent;

  position: fixed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 4vh;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
  z-index: 50;
}

nav.solid {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-section {
  width: 200px;
  overflow: hidden;
  margin-left: 3vw;
}

.mid-section {
  flex: 1.5;
}

.right-section {
  width: 300px;
  justify-content: center;
  padding-right: 3vh;
}

@media (max-width: 600px) {
  .mid-section {
    flex: 0;
    padding: 0;
    margin: 0px;
  }
  .left-section {
    flex: 0;
    padding: 0px;
    margin: 0px;
  }
  .right-section {
    flex: 1;
    max-width: 100%;
  }
  ul li a {
    font-size: 0.8rem;
  }
}

h1 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

ul li a:hover {
  background-color: #555;
}
